@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Assignment3.Models
<form id="frm" asp-controller="Home" asp-action="Filter" method="post">


    Product code:  
    <input value="" id="status" name="status" hidden></input>

    <select name="productCode" onchange="change()">
        @foreach (string code in @ViewBag.ListCode)
        {
            @if (code == @ViewBag.selectedid)
            {
                <option value="@code" selected>@code</option>
            }
            @if (code != @ViewBag.selectedid)
            {
                <option value="@code">@code</option>
            }
        }
    </select>
    <br /><br />
    Product name:
    <input  type="text" id="pName" value="@ViewBag.pName" name="pName">  </input>  <button style="margin-left:5px" onclick="changeToName()" type="submit">Filter by Name</button>

    <br /><br />
    Unit:
    <input type="text" id="pUnit" value="@ViewBag.pUnit" name="pUnit">  </input>
    <br /><br />
    Price: Old
    <input  type="text" id="pOldPrice" value="@ViewBag.pOldPrice" name="pOldPrice"> &nbsp;-->New  </input> <input style= type="text" id="pNewPrice" value="@ViewBag.searchName" name="pNewPrice">  </input> <button  onclick="changeToPrice()" type="submit">Filter by Price</button>
    <br /><br />
    Image:
    <input  type="text" id="pImage" value="@ViewBag.pImage" name="pImage">  </input> <button  onclick="changeToImage()" type="submit">Filter by Image</button>
    <br /><br />
    <button  onclick="changeToUpdate()" type="submit">Update</button> <button type="button" onclick="Reset()" >Reset</button>
    <br />
</form>
<script>
    function change() {
        document.getElementById("status").value = "display";
        document.getElementById("frm").submit();
    }

    function changeToName() {
        document.getElementById("status").value = "Name";
        document.getElementById("frm").submit();
    }
    function Reset() {
        document.getElementById("status").value = "reset";
        document.getElementById("frm").submit();
    }
    function changeToPrice() {
        document.getElementById("status").value = "Price";
        document.getElementById("frm").submit();
    }
    function changeToImage() {
        document.getElementById("status").value = "Image";
        document.getElementById("frm").submit();
    }
    function changeToUpdate() {
        document.getElementById("status").value = "Update";
        document.getElementById("frm").submit();
    }

</script>
<table border="1">
    <tr>
        <td>MaHang</td>
        <td>Tenhang</td>
        <td>DVT</td>
        <td>Gia</td>
        <td>Image</td>

    </tr>
    @foreach (Product d in @ViewBag.List)
    {
        <tr>
            <td>@d.ProductCode</td>
            <td>@d.ProductName</td>
            <td>@d.Unit</td>
            <td>@d.Price</td>
            <td>@d.Image</td>
        </tr>
    }

</table>
