@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using asm3.Models;
@model Product;

Product Code :

<form id="idfrm" asp-controller="Home" asp-action="Index" method="post">
    <select name="id" onchange="changeid()" asp-for=@Model.ProductCode>
        @foreach (Product item in @ViewBag.ProductsID)
        {
            @if (@item.ProductCode == @ViewBag.Selected)
            {
                <option value="@item.ProductCode" selected>@item.ProductCode</option>
            }
            else
            {
                <option value="@item.ProductCode">@item.ProductCode</option>
            }

        }
    </select>
    <script>
        function changeid() {
            document.getElementById("idfrm").submit();
        }
    </script>
</form>
<form id="frm" asp-controller="Home" asp-action="Name" method="post">
    <br /> ProductName:  <input type="text" value="@ViewBag.Out.ProductName" name="txt" asp-for=@Model.ProductName />
    <button onclick="changeCate()">Filter by Name</button>
    <script>
        function changeCate() {
            document.getElementById("frm").submit();
        }
    </script>
</form>
<br /> Unit:
<input type="text" value="@ViewBag.Out.Unit" asp-for=@Model.Unit />
<br /> Price:  Old
<form id="frm3" asp-controller="Home" asp-action="Price" method="post">
    <input type="text" value="@ViewBag.Out.Price" name="price1" /> New <input type="text" name="price2" asp-for=@Model.Price />
    <button onclick="changeCate3()">Filter by Price</button>
    <script>
        function changeCate3() {
            document.getElementById("frm3").submit();
        }
    </script>
</form>
<form id="frm2" asp-controller="Home" asp-action="Image" method="post">
    <br /> Image:  <input type="text" value="@ViewBag.Out.Image" name="txt2" asp-for=@Model.Image />
    <button onclick="changeCate2()">Filter by Image</button>
    <script>
        function changeCate2() {
            document.getElementById("frm2").submit();
        }
    </script>
</form>
<br />
<form id="upfrm" asp-controller="Home" asp-action="Update" method="post">
    <input type="submit" value="update" onclick="pdate()" />
</form>


<form asp-controller="Home" asp-action="Index" method="get">
    <input type="submit" value="Reset" />
</form>
<br />

List Product
<table border="1">
    <thead>
    <td>MaHang</td>
    <td>Tenhang</td>
    <td>DVT</td>
    <td>Gia</td>
    <td>Img</td>
    </thead>
    <tbody border="1">
        @foreach (Product p in @ViewBag.Products)
        {
            <tr>
                <td>@p.ProductCode</td>
                <td>@p.ProductName</td>
                <td>@p.Unit</td>
                <td>@p.Price</td>
                <td>@p.Image</td>

            </tr>
        }
    </tbody>
</table>
